body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

p,
h2 {
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
}

.hero {
    flex: 1 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),url('assets/background-nurb.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

.tag {
    color: #fff;
    padding-top: 20px;
    font-size: 18px;
}

.formcontent {
    display: flex;
    width: 50%;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.signupbtn {
    margin-top: 20px;
}